<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small","padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large"}}},"layout":{"type":"constrained"},"metadata":{"name":""}} -->
<div
  class="wp-block-group"
  style="
    padding-top: var(--wp--preset--spacing--large);
    padding-bottom: var(--wp--preset--spacing--large);
  "
>
  <!-- wp:query-title {"type":"search","textAlign":"center","level":2} /-->

  <!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search","width":75,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"align":"center","style":{"border":{"radius":"0.38rem"}},"className":"is-style-qr-search-minimal"} /-->
</div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"},"metadata":{"name":"Post grid standard"}} -->
<section class="wp-block-group">
  <!-- wp:query {"queryId":14,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"align":"wide"} -->
  <div class="wp-block-query alignwide">
    <!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"grid","columnCount":3}} -->
    <!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|small"},"border":{"radius":"12px"}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
    <div
      class="wp-block-group alignwide has-base-background-color has-background"
      style="border-radius: 12px"
    >
      <!-- wp:post-featured-image {"isLink":true,"align":"wide","style":{"border":{"radius":"12px"}}} /-->

      <!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary-400"},":hover":{"color":{"text":"var:preset|color|primary-600"}}}}},"textColor":"secondary-400"} /-->

      <!-- wp:post-title {"isLink":true,"style":{"typography":{"lineHeight":"1.2"}}} /-->

      <!-- wp:post-excerpt {"excerptLength":20,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary-600"}}}},"textColor":"secondary-600"} /-->

      <!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary-400"}}}},"textColor":"secondary-400","fontSize":"small"} /-->
    </div>
    <!-- /wp:group -->
    <!-- /wp:post-template -->

    <!-- wp:spacer {"height":"50px"} -->
    <div style="height: 50px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:query-pagination {"paginationArrow":"arrow","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary-500"},":hover":{"color":{"text":"var:preset|color|primary-600"}}}}},"textColor":"secondary-500","layout":{"type":"flex","justifyContent":"center","flexWrap":"nowrap"}} -->
    <!-- wp:query-pagination-previous /-->

    <!-- wp:query-pagination-numbers {"style":{"typography":{"letterSpacing":"5px"}}} /-->

    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination -->

    <!-- wp:query-no-results {"align":"center"} -->
    <!-- wp:paragraph {"align":"center","placeholder":"Add text or blocks that will display when a query returns no results.","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary-600"}}}},"textColor":"secondary-600","fontSize":"large"} -->
    <p
      class="has-text-align-center has-secondary-600-color has-text-color has-link-color has-large-font-size"
    >
      No search results found
    </p>
    <!-- /wp:paragraph -->
    <!-- /wp:query-no-results -->
  </div>
  <!-- /wp:query -->

  <!-- wp:spacer {"height":"50px"} -->
  <div style="height: 50px" aria-hidden="true" class="wp-block-spacer"></div>
  <!-- /wp:spacer -->
</section>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
